@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --ft-title: "Playfair Display", serif;
  --ft-main: "Inter", sans-serif;

  --fz-logo: clamp(1.25rem, 4vw, 2rem);
  --fz-img-presentation: clamp(5rem, 18vw, 15.5rem);
  --fz-skill: clamp(2rem, 4vw, 2.25rem);

  --fw-title: normal;
  --fz-title: clamp(1.7rem, 5vw, 3.75rem);
  --fz-title2: clamp(1.75rem, 4vw, 2.25rem);
  --fz-title3: clamp(1.25rem, 3vw, 1.5rem);

  --fz-main: clamp(0.775rem, 2vw, 1.125rem);
  --fz-other: clamp(0.775rem, 1.5vw, 1rem);

  --space-xs: 15px 15px;
  --space-sm: 30px 15px;
  --space-md: 50px 15px;
  --space-lg: 75px 30px;

  --p-course: clamp(0px, 5vw, 40px);

  --clr-logo: #2d3047;
  --clr-main: #000000;
  --clr-second: #ffffff;
  --clr-third: #d1d5db;
  --clr-nav: #333333;
  --clr-link: #419d78;
  --clr-background-footer: #2d3047;
  --clr-background-section: #f9fafb;
  --clr-content: #9ca3af;
}

h1,
h2,
h3 {
  font-family: var(--ft-title);
  font-weight: var(--fw-title);
}

h1 {
  color: var(--clr-logo);
  font-size: var(--fz-logo);
}

h2 {
  font-size: var(--fz-title2);
}

h3 {
  font-size: var(--fz-title3);
}

p,
a {
  font-family: var(--ft-main);
  font-size: var(--fz-main);
}

a {
  text-decoration: none;
  color: var(--clr-main);
  transition: color 0.3s ease;
}

label {
  font-family: var(--ft-main);
  font-size: var(--fz-main);
  padding-bottom: 6px;
}

.active {
  color: var(--clr-link);
  font-weight: bold;
}

#bars {
  display: none;
}

.fa-linkedin-in,
.fa-github,
.fa-basketball {
  background-color: #424559;
  padding: 10px;
  border-radius: 100%;
  transition: transform 0.3s ease;
}

.fa-linkedin-in:hover,
.fa-github:hover,
.fa-basketball:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.btn-primary,
.btn-secondary {
  max-width: max-content;
  padding: 8px 12px;
  border-radius: 8px;
  color: var(--clr-second);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: var(--clr-link);
}

.btn-primary:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.btn-secondary {
  background-color: var(--clr-background-footer);
}

.btn-secondary:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.link {
  color: var(--clr-link);
}

#photo-vtel {
  display: none;
}

header {
  max-width: 1536px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-xs);

  ul {
    list-style: none;
    display: flex;
    gap: 8vh;

    a {
      color: var(--clr-logo);
      transition: color 0.3s ease;
    }

    a:hover {
      color: var(--clr-link);
      cursor: pointer;
    }
  }
}

footer {
  background-color: var(--clr-background-footer);
  color: var(--clr-second);

  > div {
    max-width: 1536px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-sm);

    div:nth-child(1) {
      h2 {
        font-size: var(--fz-logo);
        padding-bottom: 5px;
      }

      p {
        font-size: var(--fz-other);
        color: var(--clr-content);
      }
      a {
        color: var(--clr-second);
        font-size: var(--fz-other);
      }
    }
    div:nth-child(2) {
      .social {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 12px;
        gap: 4vh;
        justify-content: center;
      }

      p {
        font-size: var(--fz-other);
        color: var(--clr-content);
      }
    }
  }
}